$white: #FFFFFF
$light-grey: #F5F6F7
$dark-purple: #5B446A
$light-purple: #A898B3

$background: $light-grey
$font-color: $dark-purple
$font-color-light: $light-purple
$rule-color: $light-purple

$font-size: 18px
$font-size-sm: 16px
$title-size: 42px
$title-size-sm: 22px
